@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MaruBuri-Regular";
  src: url("/fonts/MaruBuri-Regular.ttf");
}

@font-face {
  font-family: "MaruBuri-Bold";
  src: url("/fonts/MaruBuri-Bold.ttf");
}
